*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#7396FF,#E773FF);
    font-size:16px;
    font-family: 'Segoe UI';
    color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header h1{
    font-size: 4rem;
}
.top{
    display: flex;
    justify-content: space-between;
}

.weatherd,.timetab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;

}

.weatherd h1,.weatherd p{
    margin-top: 2%;
    margin-right: 20px;
}
.timetab h1,.timetab p{
    margin-top: 2%;
    margin-left: 20px;
}
.weatherd h1,.timetab h1{
    font-size: 3rem;
}
.weatherd p,.timetab p{
    text-align: center;
    margin-top: 0;
}
.timetab{
    align-self: flex-start;
}


header,.inputtabe,form{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5% 0;

}


.weather{
    display: none;
}

.inputbox,.addtask,.filter{
    font-size: 1.3rem;
    border : 0;
    padding: 10px;
}

.filter{
    margin: 0 10px;
}

.addtask,.filter{
    background-color:  white;
    color:#7396FF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.addtask:hover,.filter:hover{
    background-color: #7396FF;
    color:white;
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}


.taskcont{
    
    display: flex;
    align-items: center;
    justify-content:center;
    min-width: 35%;
    margin: .2rem;
    background-color: white;
    transition: all 0.5s ease-out;
    min-width: 30%;
    max-width: 80%;
}


@media screen and (max-width:850px) {
    .taskcont{
        min-width: 50%;
    }
    
    .weatherd{
        display: none;
    }
    .timetab{
        display: none;
    }
    header{
        margin-top:10%;
        flex-direction: column;
    }
    .weather{
        display: block;
    }
    
}
@media screen and (max-width:500px) {
    .taskcont{
        min-width: 65%;
    }
    .filter{
        margin: 10px;
    }
    header{
        margin-top:10%;
        flex-direction: column;
    }
    .weather{
        display: block;
    }
    .weatherd{
        display: none;
    }
    .timetab{
        display: none;
    }
    
}

.tasklable,.taskcheak,.tasktrash{
    padding: 3.5px 8px;
    font-size: 1.2rem;
    border: 0;
}

.taskcheak,.tasktrash{
    background-color:white;
    color:#7396FF ;
    cursor: pointer;
}
.tasktrash{
    margin-right: 5px;
}
.taskcheak:hover,.tasktrash:hover{
    background-color:#7396FF;
    color: white;
}

.tasklable{
    list-style: none;
    color:#7396FF;
    flex-grow: 1;
    padding-left: 0 10px;
    white-space: nowrap;
    overflow: scroll;
    max-width: 80%;
}

::-webkit-scrollbar{
    display: none;
}

i{
    pointer-events: none;
}

.cheaked {
    text-decoration: line-through;
    opacity: 0.7;
}
.cheaked li{
    color: #E773FF;
}

.deleted{
    margin: .7rem;
    opacity: 0;
}

.inputbox{
    border-radius: 1.5rem 0 0 1.5rem;
}

.addtask,.tasktrash{
    border-radius: 0 1.5rem 1.5rem 0;
}

.taskcont,.filter{
    border-radius: 1.5rem;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-self: flex-end;
    flex-grow: 1;
}
footer p{
    margin: 5px;
}